* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.main-header {
    width: 100%;
    /*margin: 0 auto;*/
    display: flex;
    height: auto;
}

/*მარცხენა მხარეს გაფორმება*/

.left-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #ea0d31;
    width: 50px;
    align-items: center;
    position: fixed;
    height: 100%;

}

.header-burger {
    background-image: url("../images/burger.png");
    background-size: 26px 26px;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    margin-top: 24px;

}

.header-language {
    background-image: url("../images/flage-geo.png");
    background-repeat: no-repeat;
    background-size: 26px 18px;
    width: 26px;
    height: 26px;
    margin-top: 15px;

}

.header-services {
    display: flex;
    flex-direction: column;
    margin-top: 86px;

}

.header-services div {
    margin-bottom: 60px;
}

.service {
    background-image: url("../images/settings.png");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    width: 35px;
    height: 35px;
}

div.service:hover {
    transition: width 2s;
}

.pen {
    background-image: url("../images/edit .png");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    width: 35px;
    height: 35px;

}

.user {
    background-image: url("../images/avatar.png");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    width: 35px;
    height: 35px;
}

.chat {
    background-image: url("../images/chat.png");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    width: 35px;
    height: 35px;
}

/*მარცხენა მხარეს გაფრომების დასრულება*/

/*კარუსელი*/

.header-carousel {
    width: 100%;
    height: 700px; /* აქ შეიძლება შესწორება */
    background-image: url("../images/header-img.png");
    background-size: 100% 770px;
    background-repeat: no-repeat;
    opacity: initial;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.carousel-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.carousel-text1 {
    margin-right: 70px;
    font-size: 25px;
    color: #ea0d31;

}

.carousel-text2 {
    background-color: #ffffff;
    text-align: center;
    width: 594px;
    font-size: 20px;
    color: #ea0d31;
    margin-top: 16px;
}

.carousel-text3 {
    background-color: #ea0d31;
    text-align: center;
    width: 235px;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 47px;

}

/*კარუსელი დასასრული*/

/*მომსახურეობები*/

.header-service {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ea0d31;
    width: 100%;
    height: 48px;
}

.service-text {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #fefefe;
}

.service-icon {
    background-image: url("../images/settings1.png");
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    width: 118px;
    margin: 0 auto;
}

.content-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 53px;
}

.content-text p {
    width: 559px;
    font-size: 20px;
    color: #ea082d;
}

.services-main {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 90px;
}

.services-info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.info-icon {
    width: 90px;
    height: 90px;

}

.info-button {
    width: 301px;
    height: 48px;
    background-color: #4f4f4f;
    border: 0;
    margin-top: 49px;
}

.info-button a {
    text-decoration: none;
    font-size: 20px;
    color: #fefefe;
}

.info-button:hover {
    background-color: #ea0d31;
    color: #ffffff;
}

.info-text {
    width: 313px;
    text-align: center;
    margin-top: 28px;
}

.all-services {
    display: flex;
    justify-content: center;
    margin-top: 65px;

}

.all-services input {
    width: 344px;
    background-color: inherit;
    border: 0;
    border: 2px solid #ea0d31;
    height: 48px;
}

.all-services input[value] {
    font-size: 20px;
    font-weight: bold;
    color: #ea0d31;
    text-align: center;
}

/*პორტფოლიო*/
.content-portfolio {
    margin-top: 87px;
}

.info-services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ea0d31;
    width: 100%;
    height: 48px;

}

.portfolio-service {
    background-image: url("../images/pen1.png");
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    width: 118px;
    margin: 0 auto;

}

.text-service {
    display: flex;
    align-items: center;
}

.text-service p {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.portfolio-images {
    margin-top: 49px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.upper-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.down-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 133px;

}

.portfolio-images img {
    width: 273px;
    height: 273px;
}

.all-services1 {
    display: flex;
    justify-content: center;
    margin-top: 93px;
}

.all-services1 input {
    width: 284px;
    height: 48px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #ea0d31;
    color: #fefefe;
    border: 0;
}

.our-projects {
    background-color: #ea0d31;
    width: 100%;
    height: 211px;
    margin-top: 61px;
}

.our-projects {
    display: flex;
    justify-content: space-around;
    align-content: center;

}

.our-projects p:first-child {
    border-radius: 50%;
    border: 2px solid white;
    width: 119px;
    height: 119px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    font-size: 62px;
    color: #fefefe;

}

.our-projects p:nth-child(2) {
    margin-top: 28px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #ffffff;
}

.about-team {
    margin-top: 62px;
    height: 48px;
    display: flex;
    justify-content: space-between;

}

.about-team a {
    text-decoration: none;
}

.team-left {
    background-color: #ea0d31;
    width: 474px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
}

.team-left a {
    margin-right: 67px;
    color: #fefefe;
    font-size: 20px;
    font-weight: bold;
}

.team-right {
    width: 900px;
    display: flex;
    justify-content: center;
}

.team-right {
    display: flex;
    width: 900px;
    justify-content: flex-start;
    align-items: center;

}

.team-right a {
    margin-left: 121px;
    font-size: 20px;
    color: #ea082d;

}

.content-team {
    display: flex;
    justify-content: center;
    margin-top: 157px;
}

.bg-border {
    position: absolute;
    width: 1010px;
    height: 48px;
    background-color: #ea0d31;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-border i {
    font-weight: bold;
    font-size: 36px;
    color: #fefefe;
}

.worker-main {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-right: 37px;
}

.worker-info {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    margin-top: -50px;
}

.worker-img img {
    width: 186px;
    height: 166px;
}

.worker-position {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #070001;

}

.worker-name {
    margin-top: 29px;
    text-align: center;
    font-size: 20px;
    color: #ea082d;
}

.worker-soc-info {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.worker-soc-info img {
    width: 22px;
    height: 22px;
}

.content-rating {
    margin-top: 94px;

}

.rating-txt {
    display: flex;
    justify-content: space-between;
}

.left-txt {
    font-size: 20px;
    color: #ea082d;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.right-text {
    background: #ea082d;
    width: 474px;
    font-size: 20px;
    color: #fefefe;
    height: 48px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.user-info {
    margin-top: 31px;
    display: flex;
    justify-content: center;
    padding-right: 150px;
}

.user-image {
    width: 189px;
    height: 189px;
}

.user-image img {
    width: 189px;
    height: 189px;
    border-radius: 50%;
}

.comment-info {
    margin-left: 54px;
    display: flex;
    flex-direction: column;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.user-organization {
    font-size: 16px;
    color: #464646;
    font-weight: bold;
}

.user-comment {
    width: 455px;
    text-align: start;
    margin-top: 27px;
}

.main-line {
    width: 1010px;
    margin: 0 auto;
    height: 48px;
    background-color: #ea0d31;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 39px;
}

.content-new {
    display: flex;
    justify-content: space-around;
    margin-top: 39px;

}

.news-info {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 288px;
}

.news-img {
    width: 288px;
    height: 166px;

}

.news-title {
    margin-top: 59px;
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    /*text-align: center;*/
}

.news-txt {
    margin-top: 12px;
    width: 233px;
    text-align: start;
    font-size: 16px;
    color: #545454;
}

.news-btn {
    margin-top: 18px;
}

.news-btn input {
    width: 288px;
    background-color: inherit;
    border: 0px;
    border: 1px solid #ea0d31;
    height: 39px;
    text-align: center;
    color: #ea0d31;
    font-size: 16px;

}

.news-btn input:hover {
    background-color: #ea0d31;
    color: #fefefe;
}

.sponsors-line {
    width: 1010px;
    margin: 0 auto;
    background-color: #e6e6e6;
    height: 48px;
    margin-top: 105px;
}

.sponsors-imgs {
    margin-bottom: 20px;
}

/*საკონტაქტო ფორმა*/

.contact-line {
    width: 1010px;
    margin: 0 auto;
    height: 48px;
    background-color: inherit;
    margin-top: 94px;
    border: 1px solid #ea0d31;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ea0d31;
}

/*პირველი*/

.main-contact {
    /*width: 1010px;*/
    /*margin: 0 auto;*/
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.contact-info input {
    border: 0;
    border-bottom: 2px solid #8a8a8a;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    text-align: start;
    color: #8d8d8d;
}

.contact-info div {
    padding-bottom: 32px;
}

.contact-info input::-webkit-input-placeholder {
    color: #8d8d8d;
}

.contact-name input {
    width: 135px;
}

.contact-email input {
    width: 94px;
}

.contact-number input {
    width: 198px;
}

.contact-text textarea {
    border: 0;
    border-bottom: 2px solid #8a8a8a;
    width: 422px;
    color: #8d8d8d;

}

.contact-text textarea::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: bold;
    text-align: start;

}

.contact-btn input {
    border: 0px;
    width: 248px;
    height: 49px;
    text-align: center;
    background-color: #ea0d31;
    color: #fefefe;
    font-size: 20px;
    font-weight: bold;
}

.contact-detail {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
}

.company-address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px
}

.company-address p {
    color: #8d8d8d;
    font-size: 16px;
}

.contact-header {
    background-image: url("../images/contact-head.png");
    background-size: 100% 169px;
    background-repeat: no-repeat;
    /*background-color: rgba(0, 0, 0, .9);*/
    width: 100%;
    height: 169px;
    margin: 0 auto;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

}

